@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

$clrPrimaryPink: hsl(322, 100%, 66%);
$clrPrimaryLightPink: hsl(321, 100%, 78%);
$clrPrimaryLightRed: hsl(0, 100%, 63%);

$clrNeutralVeryDarkCyan: hsl(192, 100%, 9%);
$clrNeutralVeryPaleBlue: hsl(208, 12%, 55%);

$fsPrimary: 16px;
$fsPrimaryMobile: 14px;

$ffHeaders: "Poppins", sans-serif;
$ffBody: "Open Sans", sans-serif;

$fwRegular: 400;
$fwBold: 600;
$fwBolder: 700;

$windowSize: 850px;
