@import 'variables';

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 1em;
  img {
    margin: 0;
    width: 10em;
    height: 2em;
    margin-left: 1em;
  }
  button {
    width: 8em;
    margin-right: 1em;
    height: 2em;
    border-radius: 100vw;
    background-color: $clrNeutralVeryPaleBlue;
    border: 1px solid $clrPrimaryLightPink;
    color: $clrPrimaryLightPink;
  }
}