@import "variables";

.Header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 6em;
  width: 90%;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  img {
    margin: 0;
    width: 6em;
    height: 1em;
  }
  button {
    width: 9em;
    height: 2.6em;
    border-radius: 100vw;
    background-color: #fff;
    border: 1px solid $clrPrimaryLightPink;
    color: $clrPrimaryLightPink;
    font-size: 9px;
  }
  @media (min-width: $windowSize) {
    gap: 3em;
    img {
      width: 15em;
      height: 2.5em;
    }
    button {
      font-size: 16px;
      width: 140px;
      height: 40px;
      transition: opacity 500ms;
      &:hover,
      &:focus-visible{
        opacity: 0.5;
      }
    }
  }
}
